#violence {
  display: none;
}
#vd {
  display: none;
}
#nothing {
  display: block;
}
video {
  max-width: 100%;
  height: auto;
}
.loader {
  border: 8px solid #707070; /* Light grey */
  border-top: 8px solid #ff9500; /* Orange */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  display: none;
  margin: auto;
  padding: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}